<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel = "stylesheet" href="style.css">
</head>
<body>
    <div class="menu">
        <div id="file">File</div>
        <div id="home">Home</div>
    </div>
    <div class="menu-options">
        <div id="new">New</div>
        <div id="open">Open</div>
        <div id="save">Save</div>
    </div>
    <div class="formula-bar">
        <input type="text" id = "address-input">
        <input type="text" id = "formula-input">
    </div>

    <div class="cell-container" id="grid-container">
        <div class = "top-left-cell"></div>

        <div class="top-row" id="top-row">
            <%for (let j=0;j<cols;j++){%>
                <div class="cell">
                    <%=String.fromCharCode (65+j)%>
                </div>
            <%}%>
        </div>

        <div class="left-col" id="left-col">
            <%for (let i=1;i<=rows;i++){%>
                <div class="cell">
                    <%=i%>
                </div>
            <%}%>
        </div>

        <div class="grid">
            <%for (let i=0;i<rows;i++){%>
                <div class = "row">
                    <%for (let j=0;j<cols;j++){%>
                        <div class = "cell" contenteditable="true" ri = <%=i%> ci = <%=j%>></div>
                    <%}%>                
                </div>
            <%}%>
        </div>
    </div>

    <div class="sheets">
        Sheets
    </div>

    <script src = "script.js"></script>
</body>
</html>